.login-pf body {
    background-image: url('../img/piano.png');
    background-size: cover;
}
.card-pf {
    background-color: transparent;
}
label {
    color: white;
}
label.pf-c-form__label.pf-c-form__label-text {
    color: white;
}
#kc-social-providers h4 {
    color: white;
}

#kc-locale ul {
    background-color: white;
    display: none;
    top: 20px;
    min-width: 100px;
    padding: 0;
}

#kc-locale-dropdown {
    display: block;
    text-align: right;
}

#kc-locale-dropdown:hover ul {
    display:block;
}

#kc-locale-dropdown a {
    color: darkgrey;
    text-align: left;
    font-size: 0.875rem;
}

a#kc-current-locale-link {
    color: white;
    text-decoration: none;
}

