* {
  font-family: sans-serif;
}

body {
  background: white;
  background-size: cover;
  font-family: sans-serif;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 22px;
  position: relative;
  margin: 0;
  height: 100%;
}
